@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Roboto", sans-serif;
}

/* Custom Ant Design Table Scroll */
.ant-table-body{
  overflow-y: hidden!important;
}

.ant-table-body:hover{
  overflow-y: scroll!important;
}
/* Custom Ant Design Table Scroll */
